<div class = "container-fluid">
  <div class = "row-fluid">
    <div id="logo" class="span2">
       <h1>
         <em>RoutineBuilders</em>
       </h1>
    </div>
  </div>
  <div class="row-fluid">
     <div id="leftnav" class ="span2">
       <ul class="nav nav-list nb-leftnav">
         <li><a href="#item1" data-toggle="tab"><i class="glyph"></i>Item1</a></li>
         <li><a href="#item2" data-toggle="tab"><i class="glyph"></i>Item2</a></li>
         <li><a href="#item3" data-toggle="tab"><i class="glyph"></i>Item3</a></li>
       </ul>
     </div>
     <div id="content" class="span8">
       <div class="tab-content">
         <div class="tab-pane active" id="item1">
           <%= erb :project_home %>
         </div>
      </div>
     </div>
  </div>
</div>
