<!doctype html>
<html>
  <head>
  	<title>RoutineBuilders</title>
    <link rel="stylesheet" href="stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/application.css">
  </head>
  <body>
    <%= yield %>
    <script src="javascripts/lib/require.js" data-main="javascripts/main"></script>
  </body>
</html>
